@font-face {
  font-family: "segoe";
  src: url(./fonts/SEGOEUI.TTF)
}

html {
  height: 100%;
}

body {
  font-family: "segoe";
  letter-spacing: 0.5px;
  height: 100%;
  background-color: #1A253A;
}
