#header {
  background-color: #253452;
  color: white;
  letter-spacing: 1.5px;
  border-bottom: #48B7F8 solid 1px;
}

#header_title {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

#header p {
  margin: 0;
}
