#header {
  background-color: #253452;
  color: white;
  letter-spacing: 1.5px;
  margin: 0px;
  padding: 0px;
  border-bottom: #48B7F8 solid 1px;
}


#header_title {
  padding: 5px;
  font-size: 50px;
  font-weight: bold;
}
