@font-face {
  font-family: "source-code-semibold";
  src: url(./fonts/SourceCodePro-Semibold.otf)
}

#suggestion-section {
  margin: auto;
  margin-top: 20px;
  /* border: white 1px solid; */
  width: 940px;
  border: solid 1px #F8C248;
  padding: 15px;
}

#code-suggestion {
  margin: 10px 0px;
}

#chosen-language {
  display: inline-block;
  background-color: #48B7F8;
  font-size: 16px;
  color: white;
  width: 90px;
  text-align: center;
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 3px 8px;
  vertical-align: middle;
}

#previous-input, #previous-output {
  display: inline-block;
  font-family: "source-code-semibold";
  color: #48B7F8;
  font-size: 25px;
  text-align: center;
  background-color: #4C4E4E;
  margin: 0px 5px;
  padding: 1px 30px;
  border: 0.5px white solid;
  vertical-align: middle;
}

#suggestions {
  display: inline-block;
  margin-left: 116px;
}

#arrow{
  display: inline-block;
  color: white;
  font-size: 50px;
  line-height: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#suggestion{
  font-family: "source-code-semibold";
  font-size: 20px;
  display: inline-block;
  color: #48B7F8;
  background-color: white;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 5px 12px;
  border: 0.5px white solid;
  vertical-align: middle;
}

#title {
  margin: 10px 5px;
  color: #F8C248;
  font-size: 24px;
  margin-bottom: 5px;
}
